/* Resetting default margins and padding */
body, html {
    margin: 0;
    padding: 0;
    text-emphasis-color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Ensuring full height for the content */
  .full-page-content {
    height: 100vh; /* 100% of the viewport height */
    width: 100%;   /* 100% of the viewport width */
  } 

